.Nav {
  padding: 1rem;
  background-color: grey;
}
.Nav a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(255,255,255, 0.7)
}

.Nav a.active {
  color: rgba(0,0,0, 1)
}